body {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    color: white !important;
}

h2,
footer {
    text-align: center;
}

a,
p {
    color: white !important;
}

#curri a:hover {
    text-decoration: underline;
    font-size: 1.5em;
}

.habilidades {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.habilidad {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.habilidad img {
    max-width: 80%;
    max-height: 80%;
    opacity: 0.8;
}

#boton-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

#boton-flotante img {
    max-width: 50%;
    max-height: 50%;
}

#boton-flotante:hover {
    background-color: #0056b3;
}

.proyectos_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.proyectos_card img {
    max-width: 100%;
    max-height: 100%;
}

.proyectos_card a {
    text-decoration: none;
}

.proyectos_card a:hover {
    text-decoration: underline;
}

.proyectos_card p {
    text-align: center;
    color: black !important;
}

.formaciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-self: unset;
    align-items: center;
    text-align: center;
}

.formaciones img,
.formaciones2 img {
    max-width: 50%;
    max-height: 50%;
}

.formaciones2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-self: unset;
    align-items: center;
    text-align: center;
}

#contactar:hover,
#copiar:hover {
    animation: vibrar 1s ease-in-out infinite alternate;
}

@keyframes vibrar {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}
